.listcontainer{
    margin-top: 10px;
}

.mcard{
    margin:10px;    
    width: 16em;
    height: 22em;
    padding: 5px;
}

.cardinline{
    display: inline-block;
}

.breadcrumb{
    margin-top: -25px;
}

.hashtag{
    color: black !important;
    margin-right: 5px;
    background: pink !important;
}

.hashtags{
    margin-top: 10px;
}

.pnb{
    margin-top: -20px;
    font-size: 0.8em;
}

.three{
    margin-left: 25px;
}

.carousel_container{
    margin-left:50px;
}