@media only screen and (max-width : 400px) {
    .mast_search{
        height: 250px;
        z-index: -99 !important;
    }

    .searchanddd{
        display: inline;
    }
}

@media only screen and (max-width : 640px) {
    .mast_search{
        margin-top: -100px;
    }
    .searchanddd{
        min-width: 600px;
        margin-top: -45px !important;
    }
}

.searchanddd{
    margin: 0 auto;
    margin-top: -25px;
    position: relative;
    width: 45%;
}