@media only screen and (max-width : 440px) {

}

@media only screen and (max-width : 640px) {
    .mast_search{

    }

    .searchanddd{
        min-width: 600px;
    }
}


.searchanddd{
    margin: 0 auto;
    margin-top: -25px;
    position: relative;
    width: 60%;

}