.brandname{
    padding: 5px;
    height: 40%;
}
.nav_searchbar{
    padding: 5px;
    margin: 0 auto;
    height: 50%;
}
.nav_dropdown{
    height: 35px;
    font-size: 0.5em;
    border: 0px;
    background: #555;
    color: #ddd;
    outline-style:none;
}
.nav_search{
    font-size: 0.5em;
    height: 35px;
    width: 400px;
    background: #555;
    color: white;
    border: 0px;
    border-radius: 5px;    
    text-align: center;
    outline-style:none;

}
.nav_search::placeholder { color: #ddd; }
.navbar{
  height: 70px;
  padding: 10px;
  vertical-align: middle;
  background: #000;
  color: #fff;
  font-family: 'Bangers', cursive;
  font-size: 1.8em;
}
.navbar h1{
  font-size: 1.2em;
}
.nav_text{
  font-family: helvetica;
  font-size: 0.5em;
  margin-top: 5px;
}
.nav_menu{
  color: white;
  font-size: 1.8em;
  background: black;
  height: 100%;
}

.nav_menu .column{
  margin-top: -25px;
  height: 75px;
}

.nav_menu_text{
  font-size: 0.5em;
  display: inline-block;
  margin-right: 20px;
  transition: 0.5px;
}
.nav_menu_text:hover{
  color: black;
  padding: 5px;
  cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a5f+0,ff5a5f+100&1+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(255,90,95,1) 0%, rgba(255,90,95,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,90,95,1) 0%,rgba(255,90,95,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,90,95,1) 0%,rgba(255,90,95,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a5f', endColorstr='#e6ff5a5f',GradientType=0 ); /* IE6-9 */  
}

.nav_menu_right{
  font-size: 0.5em;
  display: inline-block;
  margin-top: 15px;
  float: right;  
}