@media only screen and (max-width : 440px) {}
@media only screen and (max-width : 640px) {
    .footer{
        font-size: 0.8em;
    }
}

.gp{
    width: 160px;
}

.as{
}

.cities{
    text-align: left;
    line-height: 1.2em;
}

.footer{
    background: #444A62;  
    color: white;
}

.footer strong{
    color: #ADF8FF;
}

.about{
    text-align: left;
    font-size: 1em;
}

.ps{ 
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right:150px;
}