.search{
    width: 40%;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    font-size: 1.8em;
    padding: 5px;
    background: #f0f0f0;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(200,0,200,.1);
    text-align: center;
    outline-style:none;
}