@media only screen and (max-width : 400px) {
    .searchcon{
        width: 40% !important;
    }

    .search{
        width: 80% !important;
    }

}

@media only screen and (max-width : 640px) {
    .searchbtn{
        float: right;
        max-width: 80px;
    }
}

.search{
    font-size: 1em;    
    transition: 0.5s;
    text-align: center;
    outline-style:none;
    width: 93%;
    border: 0;
}

.search:focus{
}

.ddcon{    
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(200,0,200,.1);
    display: inline-block;  
    outline-style:none;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.searchcon{
    width: 58%;
    border-radius: 5px;
    padding:10px;
    background: #fff;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(200,0,200,.1);
    outline-style:none;
    display: inline-block;
}

.sicon{
    float:right;
    margin-top: 5px;
}

.ddicon{
    color: rgba(1,10,1,0.5);
    vertical-align: middle;
    background: white;
}

.dropdown{
    font-size: 1em;
    color: rgba(1,10,1,0.5);
    border: 0px;
    background: white;
    margin-left: 5px;
    outline-style:none;
    text-align: center;
    margin-top: 3px;
}

.searchbtn{
    z-index: 1010;
    height: 47px;
    border-radius:5px;
    font-size: 1em;
    border: 1px solid rgba(200,0,200,.1);
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.1);
    text-align: center;
    outline-style:none;
    color: white;  

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a5f+0,ff5a5f+100&1+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(255,90,95,1) 0%, rgba(255,90,95,0.9) 100%); 
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,90,95,1) 0%,rgba(255,90,95,0.9) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,90,95,1) 0%,rgba(255,90,95,0.9) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a5f', endColorstr='#e6ff5a5f',GradientType=0 ); /* IE6-9 */
}


.searchbtn:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a5f+0,ff5a5f+100 */
    background: rgb(255,90,95); 
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,90,95,1) 0%, rgba(255,90,95,1) 100%); 
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,90,95,1) 0%,rgba(255,90,95,1) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,90,95,1) 0%,rgba(255,90,95,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a5f', endColorstr='#ff5a5f',GradientType=0 ); 
    /* IE6-9 */
}


.searchbtn:active{
    box-shadow: 0 0px 4px 0 rgba(0,0,0,.1); 
}