@media only screen and (max-width : 440px) {}
@media only screen and (max-width : 640px) {
    .three{
        display: none;
    }
}

.listcontainer{
    margin-top: 20px;
}

.mcard{
    margin:10px;    
    width: 16em;
    height: 22em;
    padding: 5px;
}

.cardinline{
    display: inline-block;
}

.breadcrumb{
    margin-top: -25px;
    font-size: 0.8em;
}

.hashtag{
    color: black !important;
    margin-right: 5px;
    background: pink !important;
}

.hashtags{
    margin-top: 10px;
}

.pnb{
    margin-top: -20px;
    font-size: 0.8em;
}

.three{
    margin-left: 25px;
    width: 300px;
}

.carousel_container{
    margin-left:50px;
}


.mtabs{
    margin-top:-35px;
}

.tabcontent{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.detailimg{
    height:150px;
    margin-top:-10px;
    -webkit-box-shadow: 0px 0px 12px -10px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 12px -10px rgba(51,51,51,1);
    box-shadow: 0px 0px 12px -10px rgba(51,51,51,1);    
}

.hostext{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+63,636363+100&1+0,0.5+63,0+100 */
    
    background: 
    -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 63%, rgba(99,99,99,0) 100%); 
    /* FF3.6-15 */
    
    background: 
    -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 63%,rgba(99,99,99,0) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    
    background: 
    linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 63%,rgba(99,99,99,0) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#ffffff', 
        endColorstr='#00636363',
        GradientType=1 );

    /* IE6-9 */  
    width: 100%;
    height: 35px;
    padding: 5px;
    transform: translateY(325%)
}

.comments{
    display: flex;
    flex-flow: row wrap;
}

.commentbox{
    width:32%;
    margin-right: 10px;
    font-size: 0.8em;
}


.gap{
    margin-top: 5px;
}