.tile:hover {
  background: red;
}

.circle{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;     
  background: url('https://res.cloudinary.com/dp67gawk6/image/upload/c_scale,w_1300/v1457670910/ballyhoo/WALK-IN/17.jpg');
  background-size: cover;
  color: white;
}

.tile{
  border: 5px solid white;
}


.centertile{
  background: url('https://res.cloudinary.com/dp67gawk6/image/upload/c_scale,w_1300/v1457670910/ballyhoo/WALK-IN/17.jpg');
  background-size: cover;
  width: 100%;

}

.feat{
}

.trending{
}


.popular{
}


.centered{
  text-align: center;
  width: inherit;
}